<% layout("/layouts/boilerplate") -%>

<div class="row">
    <div class="col-8 offset-2">
        <br>
        <h1 style="text-align: center;">Edit your Listing</h1><br>
        <div class="box">
            <form method="post" action="/listings/<%= data._id %>/?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label"> &nbsp;Title</label>
                    <input type="text" value="<%= data.title %>" name="listings[title]" class="form-control col-md-6">
                </div>
                <div class="mb-3">
                    <label class="form-label"> &nbsp;Description</label>
                    <textarea  name="listings[description]" class="form-control col-md-6"><%= data.description %></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label"> &nbsp;Add Image</label>
                    <input type="file"  name="listings[image]" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label class="form-label"> &nbsp;Price</label>
                        <input type="number" value="<%= data.price %>" name="listings[price]" class="form-control ">
                    </div>
                    <div class="mb-3 col-md-8">
                        <label class="form-label"> &nbsp;Country</label>
                        <input type="text" value="<%= data.country %>" name="listings[country]" class="form-control ">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label"> &nbsp;Location</label>
                    <input type="text" value="<%= data.location %>" name="listings[location]" class="form-control ">
                </div>
                
        
                <br>
                <div style="text-align: center;"><button>Submit</button></div><br>
            </form>
        </div>
    </div>
</div>

