<% layout("/layouts/boilerplate") -%>

    <body>
        <br>
        <h1>All Listings</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4 h-100 ">
        <% for(list of data){ %>
            <div class="card col" style="width: 20rem;">
                <a href="/listings/<%= list._id %>"><img src="<%= list.image.url %>" class="card-img-top" alt="listings-image" style= "height:20rem ">
                <div class="card-img-overlay">
                    <p class="card-text"><%= list.description %></p>
                </div>
            </a>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= list.title %></b><br>
                        <div>&#8377;<%= list.price.toLocaleString("en-IN") %>/night</div>
                    </p>
                </div>
            </div>
            <% } %>
        </div>
    </body>